<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the recipes index!!!</h1>
    <p><%=JSON.stringify(recipes) %></p>
    <% recipes.forEach((recipe)=>{ %>
        <p><%=recipe.name%></p>
        <!-- Add _method=delete to your action to make it a delete REQUEST
        This only works because of our methodOverride middleware -->
        <form action="/recipes/<%=recipe._id%>?_method=delete" method="post">
            <input type="submit" value="Delete">
        </form>
    <% }) %>
</body>
</html>